$mainColor: #f7600e;
$mainFontSize: 16px;
$mainNumberElement: 2;
/* @import "bilal.scss"; */
$direction: ltr;
$floatleft: left;
$floatright: right;

@if $direction == ltr {
  $floatleft: left;
  $floatright: right;
} @else {
  $floatleft: right;
  $floatright: left;
}

/* Start Mixin */
@mixin bRadius($r) {
  -webkit-border-radius: $r;
  -moz-border-radius: $r;
  -o-border-radius: $r;
  -ms-border-radius: $r;
  border-radius: $r;
}
/* End Mixin */

/* Start Our Framework */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'Open Sans', sans-serif; }

.container {
  margin: auto;
  position: relative; }

.table {
  height: 100%;
  display: table; }

.table-row {
  display: table-row; }

.text-center {
  text-align: center; }

.upper {
  text-transform: uppercase; }

.main-color {
  color: $mainColor }

.main-background {
  background-color: $mainColor }

.overlay {
  background: rgba(49, 55, 61, 0.9);
  width: 100%;
  height: 100%; }

.hidden {
  display: none; }

::-webkit-input-placeholder {
  font-size: $mainFontSize - $mainNumberElement !important; }

:-moz-input-placeholder {
  font-size: $mainFontSize - $mainNumberElement !important; }

:-ms-input-placeholder {
  font-size: $mainFontSize - $mainNumberElement !important; }

/* End Our Framework */
/* Start Header */

.header {
  @extend %cover;
  background: url("../images/01.jpg");
  color: #FFF;
  .navbar {
    overflow: hidden;
    padding: 20px 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  .navbar {
    .logo {
      font-size: $mainFontSize + 8 !important;
      cursor: pointer
    }
      .links {
        float: $floatright;
        cursor: pointer;
      i {
        margin-left: 5px
      }
    }
  }
 }

.header .navbar span:first-child {
  font-size: $mainFontSize + 4 !important;
  font-weight: bold; }

.header .navbar span:last-child {
  color: $mainColor;
  font-size: $mainFontSize + 2 !important;
  font-weight: bold; }

.header .intro h1 {
  margin: 0;
  font-size: 50px;
  font-weight: 800; }

.header .intro p {
  margin: 5px 0 40px;
  font-size: $mainFontSize + 4 !important;
  color: #E2E2E2; }

.header .buttons button {
  width: 180px;
  border: 1px solid #909090; }

.header .buttons button:hover {
  background-color: $mainColor;
  border: 1px solid $mainColor;
  color: #FFF; }

.header .arrow {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 40px 0; }

.header .arrow i {
  @include bRadius(50%);
  @extend %transition;
  border: 2px solid #7B7B7B;
  height: 40px;
  width: 40px;
  line-height: 37px;
  cursor: pointer; }

.header .arrow i:hover {
  background-color: $mainColor;
  border: 1px solid $mainColor;
  color: #FFF; }

/* End Header */
/* Start Features */
.features {
  padding: 80px 0;
  overflow: hidden; }

.features .box {
  width: 22%;
  float: $floatleft;
  margin-right: 4%; }

.features .box:last-child {
  margin-right: 0; }

.features .box i {
  @extend %transition;
  color: $mainColor;
  border: 1px solid #CCC;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  line-height: 120px; }

.features .box i:hover {
  background-color: $mainColor;
  border: 1px solid $mainColor;
  color: #FFF; }

.features .box h3 {
  text-transform: uppercase;
  font-weight: bold;
  color: #505050; }

.features .box p {
  color: #888; }

/* End Features */

/* Start Subscribe */
.subscribe {
  @extend %cover;
  background: url("../images/subs/subscribe.png"); }

.subscribe form {
  padding: 100px 0;
  width: 700px;
  margin: auto;
  text-align: center; }

.subscribe form input[type="email"] {
  border: 1px solid #CCC;
  top: 2px;
  width: 320px;
  position: relative; }

.subscribe form button {
  border: 1px solid #FFF;
  width: 200px;
  color: #FFF;
  margin-left: 20px; }

.subscribe form button:hover {
  background-color: $mainColor;
  border: 1px solid $mainColor; }

/* End Subscribe */
/* Start Our Work */
.our-work {
  padding: 50px 0; }

.our-work h2 ~ p {
  line-height: 2;
  margin: 10px 0 40px;
  font-weight: bold;
  text-align: center;
  color: #888; }

.our-work .show-more {
  width: 180px;
  border: 1px solid #CCC;
  margin-top: 20px;
  color: #555; }

.our-work .show-more:hover {
  background-color: $mainColor;
  border: 1px solid $mainColor;
  color: #FFF; }

.our-work .items-box {
  overflow: hidden; }

.our-work .items-box .item {
  float: $floatleft;
  width: 30%;
  overflow: hidden;
  margin-left: 1.33333%;
  margin-bottom: 12px;
  border-radius: 10px;
  position: relative;
  height: 403px; }

.our-work .items-box .item:hover .over {
  display: block; }

.our-work .items-box .item .over {
  @extend %transition;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(247, 96, 14, 0.9);
  color: #FFF;
  display: none; }

.our-work .item .over h4 {
  font-size: $mainFontSize + 8 !important;
  margin-top: 80px;
  margin-bottom: 0; }

.our-work .item .over p {
  margin-top: 10px;
  margin-bottom: 50px;
  line-height: 2; }

.our-work .item .over button {
  width: 180px;
  border: 1px solid #FFF; }

.our-work .item .over button:hover {
  background-color: #FFF;
  border: 1px solid #FFF;
  color: $mainColor; }

/* End Our Work */
/* Start Testimonials */
.testim {
  @extend %cover;
  background: url("../images/client/testimonials/testimonials.png"); }

.testim .client {
  padding: 50px 0;
  color: #FFF;
  font-size: $mainFontSize + 4 !important; }

.testim .client img {
  @include bRadius(50%); }

.testim .client p {
  font-style: italic; }

.testim .client span {
  font-size: $mainFontSize + 2 !important;
  color: $mainColor;
  font-weight: bold; }

.testim .fa-chevron-right,
.testim .fa-chevron-left {
  position: absolute;
  top: 50%;
  color: #999;
  cursor: pointer; }

.testim .fa-chevron-right:hover,
.testim .fa-chevron-left:hover {
  color: $mainColor; }

.testim .fa-chevron-right {
  right: 0; }

.testim .fa-chevron-left {
  left: 0; }

/* End Testimonials */
/* Start Our Team */
.our-team {
  padding: 50px 0; }

.our-team .main {
  margin: 10px 0 40px;
  line-height: 2;
  color: #666;
  font-size: $mainFontSize + 4 !important; }

.our-team .the-team {
  overflow: hidden; }

.our-team .the-team .person {
  float: $floatleft;
  width: 24%;
  margin-left: 1%;
  color: #888; }

.our-team .the-team .person:hover img {
  filter: none;
  -webket-filter: grayscale(0); }

.our-team .the-team .person:hover {
  color: #555; }

.our-team .the-team .person:hover .fa-facebook {
  background-color: #3b5998; }

.our-team .the-team .person:hover .fa-twitter {
  background-color: #55acee; }

.our-team .the-team .person:hover .fa-google-plus {
  background-color: #dc4e41; }

.our-team .the-team .person img {
  width: 265px;
  height: 290px;
  filter: gray;
  filter: grayscale(1);
  -webkit-filter: grayscale(1); }

.our-team .the-team .person p {
  font-size: 15px; }

.our-team .the-team .social-icons i {
  @include bRadius(50%);
  background-color: #9da1a5;
  width: 30px;
  height: 30px;
  line-height: 33px;
  color: #FFF; }

/* End Our Team */
/* Start Contact Form */
.contact {
  @extend %cover;
  background: url("../images/contact/city.png"); }

.contact .overlay {
  padding: 50px 0;
  color: #FFF; }

.contact p {
  color: #FFF;
  font-size: $mainFontSize + 4 !important; }

.contact form {
  width: 700px;
  margin: 50px auto;
  text-align: center;
  overflow: hidden; }

.contact form input[type="text"],
.contact form input[type="email"] {
  width: 48%;
  border: 1px solid #CCC; }

.contact form input[type="text"] {
  float: $floatleft; }

.contact form input[type="email"] {
  float: $floatright; }

.contact form textarea {
  margin-top: 20px;
  color: $mainColor;
  font-weight: bold;
  width: 100%;
  padding: 10px;
  height: 140px;
  border-radius: 10px;
  outline: none;
  border: 1px solid #CCC; }

.contact form .info {
  overflow: hidden;
  margin-top: 10px; }

.contact form .info button {
  float: $floatleft;
  width: 180px;
  border: 1px solid #909090;
  color: #FFF; }

.contact form .info button:hover {
  background-color: $mainColor;
  border: 1px solid $mainColor; }

.contact form .info .form-icons {
  float: $floatright; }

.contact form .info .form-icons i {
  width: 40px;
  height: 40px;
  line-height: 43px;
  color: #FFF;
  border-radius: 50%; }

.contact form .info .form-icons .fa-facebook {
  background-color: #3b5998; }

.contact form .info .form-icons .fa-twitter {
  background-color: #55acee; }

.contact form .info .form-icons .fa-google-plus {
  background-color: #dc4e41; }

/* End Contact From */
/* Start Footer */
.footer {
  background-color: #3b434c;
  color: #FFF;
  overflow: hidden;
  padding: 30px 0;
  font-weight: bold;
  .copyright {
    float: $floatleft
  }
  .design {
    float: $floatright
  }
 }

/* End Footer */

/* Start Our Framework */
h2 {
  font-size: $mainFontSize + 19 !important;
  font-weight: 500;
  margin-bottom: 0; }

p {
  line-height: 2;
  text-align: center;
  font-weight: bold; }

.my-button {
  @extend %transition;
  background: transparent;
  padding: 10px 0;
  font-size: $mainFontSize - $mainNumberElement !important;
  font-weight: bold;
  margin: 0 8px;
  outline: none;
  border-radius: 10px; }

.contact form input[type="text"],
.contact form input[type="email"],
.subscribe form input[type="email"] {
  padding: 0 10px;
  color: $mainColor;
  font-size: $mainFontSize - $mainNumberElement !important;
  border-radius: 10px;
  outline: none;
  font-weight: bold;
  height: 40px;
  line-height: 40px; }

/* End Our Framework */

/* Start Media */
@media (max-width: 420px) {
  /* Custom Media Not Found On Bootstrap */ }
@media (max-width: 767px) {
  /* Mobile & tablet Rules */ }
@media (min-width: 768px) and (max-width: 991px) {
  /* Small Screen Rules */
  .container {
    width: 750px; } }
@media (min-width: 992px) and (max-width: 1199) {
  /* Medium Screen Rules */
  .container {
    width: 970px; } }
@media (min-width: 1200px) {
  /* Large Screen Rules */
  .container {
    width: 1170px; } }
/* End Media */

/* Classes To Extend */

%cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover
}
%transition {
  -webkit-transition: all .7s ease-in-out;
  -moz-transition: all .7s ease-in-out;
  -o-transition: all .7s ease-in-out;
  transition: all 0.7s ease-in-out
}

/* Classes To Extend */



/*# sourceMappingURL=style.css.map */
